body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}

.header_item {
}

.header_links {
  text-decoration: none;
  color: rgb(13, 99, 70);
}

.homePage {
  text-align: center;
  margin-top: 100px;
}

/* Contacts */
.title {
  font-size: 30px;
}

/* formSignup */
.formSignup {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}
