.list {
  margin-bottom: 0;
}

.listItem {
  display: flex;
  align-items: center;
}

.listItem:not(:last-child) {
  margin-bottom: 10px;
}

.loading {
  font-size: 20px;
  font-weight: 500;
  color: #ff8800;
  padding-left: 40px;
}
